# Curso de Python
## Diplomado en Ciencia de Datos
#### Prof. [Sébastien Lozano Forero](https://www.linkedin.com/in/sebastienlozanoforero/) (slozanof@libertadores.edu.co)

## Lecturas Recomendadas <a class = "anchor" id ="lectura"></a>

Algunas lecturas y sitios web que pueden resultar de interes durante el curso
 1. [5 Reasons Why Learning Python Is the Best Decision](https://medium.com/datadriveninvestor/5-reasons-why-i-learned-python-and-why-you-should-learn-it-as-well-917f781aea05) 
 2. [Why Learn Python?](https://www.bestprogramminglanguagefor.me/why-learn-python) 
 3. [What is Python Good for? – 10 Reasons to Learn Python in 2020](https://hackernoon.com/10-reasons-to-learn-python-in-2018-f473dc35e2ee)
 4. [Documento Conpes 3920](https://colaboracion.dnp.gov.co/CDT/Conpes/Econ%C3%B3micos/3920.pdf)
 5. [Stackoverflow](https://stackoverflow.com/) (Importante)
 6. [Kaggle](https://www.kaggle.com/)
 7. [Elementos para el manejo de Markdown](https://medium.com/@ingeh/markdown-for-jupyter-notebooks-cheatsheet-386c05aeebed)

# <font color='red'>Fundamentos de Python </font> <a class="anchor" id="fundamentos"></a>


#### Python Notebooks

Los notebooks de Python proveen un ambiente interactivo para experimentación de código, visualización y publicación de resultados.

Las casillas de color gris claro que se encuentran a continuación se denominan celdas y estas pueden contener código (code) o texto formateado (Markdown).

* [Flechas arriba / abajo] Mover arriba y abajo de celda a celda.
* [Enter] Ingresa una celda para editarla.
* [Shift + Enter] Evalúa una celda, muestra el resultado y pasa a la siguiente celda.
* [Ctrl + Enter] Evalúa una celda, muestra el resultado y permanece en la celda.
* [Alt + Enter] Evalúa una celda, muestra el resultado e inserta una celda abajo.
* [D] - [D] Eliminar una celda.
* [Z] Deshacer eliminar una celda.
* [B] Insertar una celda debajo de la celda actual.
* [A] Insertar una celda sobre la celda actual.
* [M] Convierte la celda de código en markdown.
* [Y] Convierte la celda de Markdown a código.

Para más atajos de teclado vaya al menú Ayuda -> Atajos de teclado

## Variables en Python 

**Variable**: Es donde se guarda determinada información (texto, números, booleanas, etc.)

Cada variable tiene un nombre para referirse a ella, Python tiene en cuenta si escribimos en mayúsculas o minúsculas la variable (case sensitive).

Para definir variables en Python se realiza de la siguiente manera:

```python
# Asignando un valor
variable = valor
# Asignando varios valores
variable1, variable2 = valor1, valor2
```

Python al asignar la variable define cual es el tipo de datos más apropiado.  

### [Números](https://www.w3schools.com/python/python_numbers.asp) 

En números hay dos tipos principales, los números enteros (int) y los reales (float).  El separador decimal es el punto.

```python
entero = 2
real = 2.5
```

### [Texto](https://www.w3schools.com/python/python_strings.asp)

Las variables que almacenan texto se denominan strings (str).  Se deben de poner entre commillas sencillas o dobles, si el texto es multilinea con triple comilla.

```python
cadena = "Hola"
cadena = 'Hola'
multilinea = """ Hola
                Mundo """
multilinea = ''' Hola
                Mundo '''             
```

### [Listas](https://www.w3schools.com/python/python_lists.asp)

Son conjuntos ordenados de elementos (números, texto, listas, etc). Se delimitan por corchetes (`[]`) y los elementos se separan por comas. Las listas son dinamicas, es decir que son mutables.

```python
listaNumeros = [1,2,3]
listaCadenas = ['a','b','c']
listaListas = [[1,2],[3,4],[5,6]]
listaMixtas = [1,'Grupo',[1,2,3,4]]
listaVacia = []
```

### [Tuplas](https://www.w3schools.com/python/python_tuples.asp)

Es un conjunto ordenado e inmutable de elementos del mismo o diferente tipo. Las tuplas se representan escribiendo los elementos entre paréntesis (`()`) y separados por comas. Las tuplas son estaticas, son inmutables, una vez creada no puede ser modificada.

```python
tuplaNumeros = (1,2,3)
tuplaCadenas = ('a','b','c')
tuplaListas = ([1,2],[3,4],[5,6])
tuplaMixtas = (1,'Grupo',[1,2,3,4])
```

### [Diccionarios](https://www.w3schools.com/python/python_dictionaries.asp)

Permite almacenar cualquier tipo de valor como enteros, cadenas, listas, etc.  Los diccionarios permiten además identificar cada elemento por una clave (key)

```python
dictNumeros = {'k1':1,'k2':2}
dictCadenas = {'k1':'a','k2':'b','k3':'c'}
dictListas = {'k1':[1,2],'k2':[3,4],'k3':[5,6]}
dictMixto = {'k1':1,'k2':'Grupo','k3':[1,2,3,4]}
```

### [Booleano](https://www.w3schools.com/python/python_booleans.asp)

Una variable booleana es una variable que sólo puede tomar dos posibles valores: Verdadero (True) o Falso (False).

```python
verdadero = True
falso = False
```

### [None](https://www.w3schools.com/python/python_booleans.asp)

Es el tipo de dato que en otros lenguajes se conoce como Nulo (NAN).  En Python es NoneType.

```python
nulo = None
```

### Imprimir variables

El comando `print(variable)` imprime el valor de la variable.

In [1]:
"Una cadena"
'otra cadena'
'otra cadena más'

'otra cadena más'

In [2]:
print("Una cadena")
print('otra cadena')
print('otra cadena más')

Una cadena
otra cadena
otra cadena más

#### Acepta carácteres especiales como las tabulaciones /t o los saltos de línea /n

In [26]:
print("Un texto \t una tabulación")

Un texto 	 una tabulación

In [28]:
print("Un texto \n una nueva línea")

Un texto
una nueva línea

#### Para evitar los carácteres especiales, debemos indicar que una cadena es cruda (raw)

In [6]:
print("C:\nombre\trabajo")

C:
ombre	rabajo

In [7]:
print(r"C:\nombre\trabajo")  # r => raw (cruda)

C:\nombre\trabajo

#### Podemos utilizar """ *(triple comillas)* para cadenas multilínea

In [10]:
print("""Una línea 
otra línea
otra línea\tuna tabulación""")

Una línea
otra línea
otra línea	una tabulación

#### También es posible asignar cadenas a variables
La forma correcta de mostrarlas es con la instrucción print().

In [11]:
c = "Esto es una cadena\ncon dos líneas"

In [12]:
c

'Esto es una cadena\ncon dos líneas'

In [13]:
print(c)

Esto es una cadena
con dos líneas

### Comentarios

Los comentarios en linea se define con `#`

In [14]:
# Declarando un entero (int)
x = 2
print("Es un entero: ", x)

Es un entero:  2

In [15]:
x

2

In [16]:
# Declarando un real (float)
y = 2.5
print("Es un real:", y)

Es un real: 2.5

In [19]:
# Declarando un texto
mensaje = "Hola Mundo"
print(mensaje, "Grupo")

Hola Mundo Grupo

In [54]:
# Multilinea
multilinea = """Hola 
                Mundo"""
print(multilinea, " Grupo")
multilinea = '''Hola 
                Mundo'''
print(multilinea, " Grupo")

Hola
                Mundo  Grupo
Hola
                Mundo  Grupo

In [55]:
multilinea

'Hola \n                Mundo'

In [37]:
a = 4
b = 5
c = 6

In [61]:
# Declarando una lista
listaNumeros = [1,2,3]
print(listaNumeros)
listaCadenas = ['a','b','c']
listaCadenas2 = [a,b,c]
print(listaCadenas)
print(listaCadenas2)
listaListas = [[1,2],[3,4],[5,6]]
print(listaListas)
listaMixtas = [1,'Grupo',[1,2,3,4]]
print(listaMixtas)
listaVacia = []
print(listaVacia)

[1, 2, 3]
['a', 'b', 'c']
[4, 5, 6]
[[1, 2], [3, 4], [5, 6]]
[1, 'Grupo', [1, 2, 3, 4]]
[]

In [39]:
# Declarando una Tupla
tuplaNumeros = (1,2,3)
print(tuplaNumeros)
tuplaCadenas = ('a','b','c')
tuplaCadenas2 = (a,b,c)
print(tuplaCadenas)
print(tuplaCadenas2)
tuplaListas = ([1,2],[3,4],[5,6])
print(tuplaListas)
tuplaMixtas = (1,'Grupo',[1,2,3,4])
print(tuplaMixtas)
tuplaTuplas = ((1,2),(3,4),(5,6))
print(tuplaTuplas)

(1, 2, 3)
('a', 'b', 'c')
(4, 5, 6)
([1, 2], [3, 4], [5, 6])
(1, 'Grupo', [1, 2, 3, 4])
((1, 2), (3, 4), (5, 6))

In [48]:
# Declarando Diccionarios
dictNumeros = {'k1':1,'k2':2}
print(dictNumeros)
dictCadenas = {'k1':'a','k2':'b','k3':'c'}
print(dictCadenas)
dictCadenas2 = {'k1':a,'k2':b,'k3':c}
print(dictCadenas2)
dictListas = {'k1':[1,2],'k2':[3,4],'k3':[5,6]}
print(dictListas)
dictTuplas = {'k1':(1,2),'k2':(3,4),'k3':(5,6)}
print(dictTuplas)
dictMixto = {'k1':1,'k2':'Grupo','k3':[1,2,3,4], 'k4': (1,2,3,4)}
print(dictMixto)

{'k1': 1, 'k2': 2}
{'k1': 'a', 'k2': 'b', 'k3': 'c'}
{'k1': 4, 'k2': 5, 'k3': 6}
{'k1': [1, 2], 'k2': [3, 4], 'k3': [5, 6]}
{'k1': (1, 2), 'k2': (3, 4), 'k3': (5, 6)}
{'k1': 1, 'k2': 'Grupo', 'k3': [1, 2, 3, 4], 'k4': (1, 2, 3, 4)}

In [49]:
# Declarando Booleanos
verdadero = True
falso = False

In [50]:
print(verdadero)

True

In [52]:
# Declarando Nulos
nulo = None
nulo

In [53]:
# Asignaciones Múltiples
var1, var2, var3 = (5 + 4),  "Sara", [13, 17, 23]
print( "var1 =", var1 )
print( "var2 =", var2 )
print( "var3 =", var3 )

var1 = 9
var2 = Sara
var3 = [13, 17, 23]

In [54]:
# Cambiar valores entre variables
var1, var2 = var2, var1 

print( "var1 =", var1 )
print( "var2 =", var2 )

var1 = Sara
var2 = 9

In [55]:
# Crear una tupla con variables
tupla = var1, var2, var3
print(tupla)

('Sara', 9, [13, 17, 23])

In [56]:
# Asignar valores de una tupla a variables
x1, x2, x3 = tupla 
print( "x1 =", x1, "   x2 =", x2, "   x3 =", x3 )

x1 = Sara    x2 = 9    x3 = [13, 17, 23]

## Tipo de Datos

Para conocer el tipo de dato de una variable se usa el metodo `type`

```python
type(x)
```

In [82]:
x=2
print(x)
type(x)

2

int

In [71]:
x = str(x)
type(x)

str

In [58]:
print(y)
type(y)

2.5

float

In [59]:
type(mensaje)

str

In [62]:
type(listaNumeros)

list

In [63]:
type(tuplaListas)

tuple

In [64]:
type(dictCadenas)

dict

In [66]:
type(verdadero)

bool

In [67]:
type(nulo)

NoneType

## Operadores Relacionales

| Símbolo | Función |
|----|---|
| == | Verdadero (True), si los valores son iguales |
| is | Verdadero (True), si son idénticos, i.e. son el **mismo** objeto  |
| !=  | Verdadero (True), Si no es igual a  |
| < | Menor que |
| > | Mayor que |
| <=  | Menor o igual que  |
| >=  | Mayor o igual que |
| in  | Verifica si pertenece a una colección (lista, conjunto, diccionario) |

In [97]:
x

2

In [98]:
x == 2

True

In [99]:
x != 2

False

In [100]:
x > 1

True

In [101]:
listaNumeros

[1, 2, 3]

In [102]:
listaNumeros == [1,2,3]

True

In [104]:
listaNumeros is [1,2,3]  ## TAREA

False

In [106]:
objeto = listaNumeros
print(objeto)

[1, 2, 3]

In [109]:
listaNumeros is objeto

True

In [107]:
nulo is None

True

## Conversiones entre tipos

Python cuenta con la conversión de tipos de datos (*cast* o *casting*) que especifica explicitamente el tipo de dato.

```python
int(variable)
float(variable)
str(variable)
bool(variable)
list(variable)
tuple(variable)
dict(variable)
```

In [109]:
listaCadenas

['a', 'b', 'c']

In [110]:
# Convertir Lista a tupla
print(listaCadenas) 
print(type(listaCadenas))
print(tuple(listaCadenas))
print(type(tuple(listaCadenas)))

['a', 'b', 'c']
<class 'list'>
('a', 'b', 'c')
<class 'tuple'>

In [111]:
# Convertir de cadena a entero
print('123')
print(type('123'))
print(int('123'))
print(type(int('123')))

123
<class 'str'>
123
<class 'int'>

In [114]:
2+int('123')

125

In [111]:
float("Juan")

ValueError: could not convert string to float: 'Juan'

## Funciones Integradas (Built-in Functions)

**Funciones:** Una función es un bloque de código con un nombre asociado, que recibe $0$ o más argumentos como entrada, sigue una serie de instrucciones y devuelve un valor o realiza una tarea.

Python dispone de una serie de funciones intregradas al lenguaje( [built-in](https://docs.python.org/3/library/functions.html))

Un ejemplo de estas funciones son las vistas en los anteriores puntos como las de convertir tipos de datos y la de imprimir.

In [121]:
# Ingresar valor por teclado
entrada = int(input("Ingrese un número entero: "))
print('Su resultado es', entrada**2)

Ingrese un número entero: 1.5

ValueError: invalid literal for int() with base 10: '1.5'

In [126]:
# Ingresar valor por teclado
entrada = input("Ingrese un número entero: ")
print(entrada*3)

Ingrese un número entero: 12
121212

In [128]:
# Valor absoluto de un numero
print(abs(-1005))

1005

### Ejercicio 1:


Ejecute las siguientes 3 celdas e infiera lo que hace la función round incorporada con uno o dos argumentos.

In [39]:
round( -4.78 )

-5

In [40]:
round( -3.141516297, 4 )

-3.1415

In [41]:
round( -3.141516297, 5 )

-3.14152

In [42]:
# Su código

### Ejercicio 2:


Desde la pagina de las funciones integradas [built-in](https://docs.python.org/3/library/functions.html), consulte la forma de usar la función `min()` y `max()`.

- Cree una lista con los valores 42, 17 y 68.
- Usando la función `min()`, imprima el valor minimo.
- Usando la función `max()`, imprima el valor maximo.
- Validar si hay una función que calcule la suma de toda la lista

In [136]:
# Su código
lista = [42,17,68]
print('El mínimo es',min(lista))
print('El máximo es',max(lista))
print('La suma es', sum(lista))

El mínimo es 17
El máximo es 68
La suma es 127

## Ayuda 

Python cuenta con `help()` y `?` que nos devuelve una descripción de la función que queremos conocer.

In [138]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      self != 0
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [139]:
?range

### Ejercicio 3:

Cree una variable llamada rango y asígnele range(1, 100, 5), luego imprima la variable convirtiendola primero a lista, cual es el resultado?

In [147]:
# Su código
minimo = 1
maximo = 100
escalon = 5
rango = range(minimo,maximo,escalon)
rango = list(rango)
print(rango)

[1, 6, 11, 16, 21, 26, 31, 36, 41, 46, 51, 56, 61, 66, 71, 76, 81, 86, 91, 96]

## Manejo de Strings

**IMPORTANTE:** Strings pueden ser definidos con doble comilla ("...") or comilla simple ('...'), las dos sintaxis hacen exactamente lo mismo!

In [149]:
'Juan' == "Juan"

True

In [150]:
'Juan said: "Yeah"' == "Juan said: \"Yeah\""

True

In [49]:
"Juan's sisters" == 'Juan\'s sisters'

True

In [153]:
'I feel \U0001F605'

'I feel 😅'

### Interpolación de Cadenas

El camino más facil para insertar dinamicamente variable en cadenas es a través de la interpolación de cadenas usando:

la sintaxis f"....{var1}... {var2}".

In [154]:
juans_height = 1.70
num_siblings = 2

También se puede especificar la precisión con la sintaxis "...{var:.#f}...", donde # es el número de digitos decimales.

In [157]:
f"Juan is {juans_height:.2f} meters tall"

'Juan is 1.70 meters tall'

Expresiones Full incluyendo llamado a funciones:

In [158]:
luisas_height = 1.60
f"Juan is { round( (juans_height - luisas_height)* 100 )  } cm taller than Luisa"

'Juan is 10 cm taller than Luisa'

Una sintaxis ligeramente más nueva y que mejor utiliza el método de formato en cadenas:

In [54]:
"Juan is {jh} meters tall and has {ns} brothers and sisters".format( jh= juans_height, ns=num_siblings  )

'Juan is 1.7 meters tall and has 2 brothers and sisters'

La siguiente es también una solución común simple, aunque no la más eficiente.

In [162]:
"Juan is " + str(juans_height) + " meters tall and has " + str(num_siblings) + " brothers and sisters"

'Juan is 1.7 meters tall and has 2 brothers and sisters'

Como en C/Java, etc., una cadena puede también contener códigos especiales como salto de linea ('\n') y tabulación ('\t').

In [56]:
a_str = f"Juan is {juans_height} meters tall\n\tand has {num_siblings} brothers\nand sisters"
print( a_str )

Juan is 1.7 meters tall
	and has 2 brothers
and sisters

### Indexación de Cadenas

Las cadenas de Python son cadenas de caracteres, y cada carácter reside en un índice a partir de $0$ (para el primer carácter) y terminando en longitud de cadena $-1$ (para el último carácter).

|G|r|u|p|o|
|-|-|-|-|-|
|0|1|2|3|4|
|-|-|-|-|-|
|-5|-4|-3|-2|-1|

In [171]:
cadena = "Ernesto Perez"

In [172]:
print("Primer caracter: ",cadena[0])
print("Ultimo caracter: ",cadena[-1])

Primer caracter:  E
Ultimo caracter:  z

In [59]:
print(type(cadena[0]))

<class 'str'>

In [173]:
cadena[1] = 'o'

TypeError: 'str' object does not support item assignment

In [175]:
str.replace(cadena,'e','o')

'Ernosto Poroz'

In [177]:
cadena.replace('e','o')

'Ernosto Poroz'

In [62]:
cadena

"Juan's height u"

In [63]:
cadena = str.replace(cadena,'u','o')
print(cadena)

Joan's height o

In [178]:
len(cadena)

13

In [65]:
'a' in cadena

True

### Cortar (Slicing) Cadenas

**Slicing** en Python es un camino poderoso para extraer sub-partes de una cadena, listas y tuplas.

```
str[start:end]
````
**start**: sub-cadena inicia desde este elemento

**end**: fin sub-cadena, excluye el elemento en este index.

|G|r|u|p|o|
|-|-|-|-|-|
|0|1|2|3|4|

```python
cadena = "Grupo"
print(cadena[0:2])
```
|G|r|
|-|-|
|0|1|

In [182]:
cadena = "Banda de los datos"
print(cadena[0:2])

Ba

In [183]:
# Sub-cadena desde la posicion inicial, 4 caracteres.
print(cadena[0:4])

Band

In [184]:
# Exactamente igual al anterior, solo que el 0 es el índice inicial implícito)
print(cadena[:4])

Band

In [185]:
# Sub-cadena desde el cuarto caracter hasta el final
print(cadena[4:])

a de los datos

In [186]:
# Sub-cadena desde el caracter en la posicion 1 hasta el caracter en la posicion 4
print(cadena[1:4])

and

In [187]:
# Sub-cadena con indices negativos, el -1 es el índice final implícito.
print(cadena[-3:])

tos

In [72]:
# Sub-cadena con indices negativos
print(cadena[-4:-1])

rup

## Manejo de Listas

Una lista es un arreglo de elementos donde podemos ingresar cualquier tipo de dato, para acceder a estos datos lo podemos hacer mediante un índice.

In [189]:
lista = [1,2.5,'Grupo',[1,2],10,'Grupo']

In [190]:
print("Primer elemento de la lista: ",lista[0])
print("Ultimo elemento de la lista: ",lista[-1])

Primer elemento de la lista:  1
Ultimo elemento de la lista:  Grupo

In [191]:
# Obtener el elemento de la posicion 3
print(lista[3])

[1, 2]

Si la posición 3 es una lista, para acceder a los elementos de esta lista se realiza de la siguiente manera.

In [192]:
# Obtener el elemento de la posicion 3, obtener el elemento 1 de esta lista
print(lista[3][1])

2

In [77]:
# Adicionar un elemento a la lista
lista.append('Nuevo')
print(lista)

[1, 2.5, 'Grupo', [1, 2], 10, 'Grupo', 'Nuevo']

In [193]:
# Extend permite agregar elementos pero al agregar una lista cada elemento de esta se agrega como un elemento mas dentro de la otra lista
lista.extend(['Elemento',45])
print(lista)

[1, 2.5, 'Grupo', [1, 2], 10, 'Grupo', 'Elemento', 45]

In [194]:
# Inserta un elemento en la posicion dada
lista.insert(3,1)
print(lista)

[1, 2.5, 'Grupo', 1, [1, 2], 10, 'Grupo', 'Elemento', 45]

In [80]:
# Eliminar un elemento de la lista
lista.remove(10)
print(lista)

[1, 2.5, 'Grupo', 1, [1, 2], 'Grupo', 'Nuevo', 'Elemento', 45]

In [81]:
# Devuelve el número de indice del elemento que le pasamor por parámetro
print(lista.index('Grupo'))

2

In [82]:
# Devuelve el elemento en la posicion dada de la lista y lo elimina
print(lista.pop(2))
print(lista)

Grupo
[1, 2.5, 1, [1, 2], 'Grupo', 'Nuevo', 'Elemento', 45]

In [83]:
# Devuelve cuantas veces un elemento de una lista se repite
print(lista.count('Grupo'))

1

In [84]:
# Invertir los elementos de una lista
lista.reverse()
print(lista)

[45, 'Elemento', 'Nuevo', 'Grupo', [1, 2], 1, 2.5, 1]

In [86]:
# Las listas son mutables
lista[0] = 3
print(lista)

[3, 2.5, 1, [1, 2], 'Grupo', 'Nuevo', 'Elemento', 45]

In [87]:
3 in lista

True

## Son modificables
A diferencia de las cadenas, en las listas sí podemos modificar sus ítems utilizando índices:

In [201]:
pares = [0,2,4,5,8,10]

In [204]:
pares[3]= 6

In [205]:
pares

[0, 2, 4, 6, 8, 10]

Integran funcionalidades internas, como el método .append() para añadir un ítem al final de la lista

In [10]:
pares.append(12)

In [11]:
pares

[0, 2, 4, 6, 8, 10, 12]

In [12]:
pares.append(7*2)

In [13]:
pares

[0, 2, 4, 6, 8, 10, 12, 14]

 Y una peculiaridad, es que también aceptan asignación con slicing para modificar varios ítems en conjunto

In [14]:
letras = ['a','b','c','d','e','f']

In [15]:
letras[:3]

['a', 'b', 'c']

In [16]:
letras[:3] = ['A','B','C']

In [17]:
letras

['A', 'B', 'C', 'd', 'e', 'f']

Asignar una lista vacía equivale a borrar los ítems de la lista o sublista

In [18]:
letras[:3] = []

In [19]:
letras

['d', 'e', 'f']

In [21]:
letras = []

In [22]:
letras

[]

La función len() también funciona con las listas del mismo modo que en las cadenas:

In [23]:
len(letras)

0

In [24]:
len(pares)

8

## Listas dentro de listas (anidadas)
Podemos manipular fácilmente este tipo de estructuras utilizando múltiples índices, como si nos refieréramos a las filas y columnas de una tabla.

In [25]:
a = [1,2,3]
b = [4,5,6]
c = [7,8,9]
r = [a,b,c]

In [26]:
r

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

In [27]:
r[0]  # Primera sublista

[1, 2, 3]

In [28]:
r[-1]  # Última sublista

[7, 8, 9]

In [29]:
r[0][0]  # Primera sublista, y de ella, primer ítem

1

In [30]:
r[1][1]  # Segunda sublista, y de ella, segundo ítem

5

In [31]:
r[2][2]  # Tercera sublista, y de ella, tercer ítem

9

In [32]:
r[-1][-1]  # Última sublista, y de ella, último ítem

9

## Manejo de Diccionarios

Al contrario de las listas los diccionarios no tienen orden, un diccionario es una palabra que tiene asociado algo.

Se crean poniendo sus elementos entre llaves (`{"m":"Medellin","b":"Bogota"}`). Se denominan keys a las **palabras** y values a las **definiciones**. Lógicamente no puede haber dos keys iguales, pero si dos values iguales.

In [212]:
diccionario = {'Piloto 1':'Fernando Alonso', 'Piloto 2':'Kimi Raikkonen', 'Piloto 3':'Felipe Massa'}
print(diccionario)

{'Piloto 1': 'Fernando Alonso', 'Piloto 2': 'Kimi Raikkonen', 'Piloto 3': 'Felipe Massa'}

In [209]:
# Devuelve el valor que corresponde con la key introducida.
print(diccionario.get('Piloto 1'))
print(diccionario['Piloto 1'])

Fernando Alonso
Fernando Alonso

In [216]:
# Devuelve el valor que corresponde con la key introducida, y luego borra la key y el valor.
# print(diccionario.pop('Piloto 1'))
print(diccionario)

{'Piloto 2': 'Kimi Raikkonen', 'Piloto 3': 'Felipe Massa'}

In [217]:
# Actualiza el valor de una determinada key o lo crea si no existe.
diccionario.update({'Piloto 4':'Lewis Hamilton'})
diccionario.update({'Piloto 2':'Sebastian Vettel'})
print(diccionario)

{'Piloto 2': 'Sebastian Vettel', 'Piloto 3': 'Felipe Massa', 'Piloto 4': 'Lewis Hamilton'}

In [218]:
diccionario['Piloto 5'] = 'Juan Perez'
print(diccionario)

{'Piloto 2': 'Sebastian Vettel', 'Piloto 3': 'Felipe Massa', 'Piloto 4': 'Lewis Hamilton', 'Piloto 5': 'Juan Perez'}

In [93]:
# "key" in diccionario: devuelve verdadero (True) o falso (False) si la key existe en el diccionario.
print ("Piloto 2" in diccionario)
print ("piloto 1" in diccionario)
print ("Sebastian Vettel" in diccionario)

True
False
False

In [94]:
# "definición" in diccionario.values(): devuelve verdadero (True) o falso (False) si la definición existe en el diccionario.
print ("Sebastian Vettel" in diccionario.values())

True

In [95]:
# del diccionario['key']: Elimina el valor (y el key) asociado a la key indicada.
del diccionario['Piloto 2']
print(diccionario)

{'Piloto 3': 'Felipe Massa', 'Piloto 4': 'Lewis Hamilton', 'Piloto 5': 'Juan Perez'}

## Manejo de Tuplas

Las tuplas son inmutables, una vez creada, no se puede cambiar ni su contenido ni su tamaño.

In [96]:
tuple1 = (1,2,3,4,5)
tuple2 = (6,7,8,9,10)

In [97]:
# Concatenar tuplas
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [98]:
# Repetir tuplas
print(tuple1 * 3)

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [99]:
# Validar si un elemento esta en la tupla
print(7 in tuple1)
print(7 in tuple2)

False
True

In [100]:
# Devuelve el indice del elemento
print(tuple1.index(5))

4

In [101]:
# Devuelve cuantas veces esta un elemento repetido
tuple4 = (65,67,5,67,34,76,67,231,98,67)
print(tuple4.count(67))

4

In [102]:
# Indexación
print(tuple4[4])
print(tuple4[-4])
print(tuple4[:4])
print(tuple4[5:])
print(tuple4[-6:-2])
print(tuple4[3:6])

34
67
(65, 67, 5, 67)
(76, 67, 231, 98, 67)
(34, 76, 67, 231)
(67, 34, 76)

In [223]:
import numpy as np

In [229]:
x = 134
print(np.sqrt(x))
print(np.log(x))

11.575836902790225
4.897839799950911

## Funciones de Usuario

En Python, la definición de funciones se realiza mediante la instruccion `def`.  La definición de la función finaliza con dos puntos (`:`) y el algoritmo que la compone, irá con tabulación.

In [239]:
def miFuncion():
    print("Hola, Mundo")
    print('vamos a hackear a la función')

In [240]:
miFuncion()

Hola, Mundo
vamos a hackear a la función

In [105]:
valor = miFuncion()
print(valor)

Hola Mundo
None

Las funciones tambien pueden retornar un valor, este puede ser asignado a una variable.

```Python
def miFuncion():
  return "Hola Mundo"
````

In [241]:
def miFuncion():
  return "Hola Mundo"

In [242]:
mensaje = miFuncion()
print(mensaje)
print(miFuncion())

Hola Mundo
Hola Mundo

Las funciones tambien pueden recibir parametros de entrada.

```Python
def miFuncion(nombre, apellido):
  return nombre + ' ' + apellido
````

In [243]:
def miFuncion(nombre, apellido):
  return 'Hola, '+nombre + ' ' + apellido+'. Un gusto conocerte'

In [248]:
mensaje = miFuncion("laskdhlasjdl","Forero")
print(mensaje)

Hola, laskdhlasjdl Forero. Un gusto conocerte

Las funciones pueden tener parametros de entrada con valores por defecto.

```Python
def miFuncion(nombre, apellido, mensaje = 'Hola'):
  return mensaje + ' ' + nombre + ' ' + apellido
````

In [110]:
def miFuncion(nombre, apellido, mensaje = 'Hola'):
  return mensaje + ' ' + nombre + ' ' + apellido

In [111]:
mensaje = miFuncion("Juan","Perez")
print(mensaje)

Hola Juan Perez

In [112]:
mensaje = miFuncion("Juan","Perez","Chao")
print(mensaje)

Chao Juan Perez

### Ejercicio 4

Escriba una función que calcule un valor según una formula dada:

$Q = sqrt( (2 * C)/H )$

$C$ Es un numero entero

$H$ Es un numero entero

La función debe de retornar el valor de $Q$.

**Tip:** En Python se pueden importar librerias o paquetes usando `import`, para este ejercicio se importara la libreria de matematicas `math`. Para usar el metodo `sqrt` se realiza el llamado de la siguiente manera `math.sqrt(numero)`

In [113]:
# Su Codigo

### Ejercicio 5

Escriba una función que calcule el area de un triangulo:

$Area = (Base*Altura)/2 $

$Base$ Es un numero entero o real.
$Altura$ Es un numero entero o real.

La función debe de retornar el valor del $Area$.

In [114]:
# Su Codigo

### Ejercicio 6

Escriba una función que reciba como parametro un número entero y una lista, debe de adicionar a la lista el numero elevado al cubo y devolver la lista con el nuevo elemento.

In [115]:
# Su Codigo

## Conjuntos en Python

Python tiene un tipo de dato `set` el cual nos permite trabajar con conjuntos y realizar operaciones de conjuntos con estas variables.  Se define entre llaves (`{}`) y se separan los elementos con comas. 

```python
conjunto = {1,2,3}
````

In [116]:
# Definiendo conjuntos
c1 = {1, 2, 3, 4, 5, 6}
c2 = {2, 4, 6, 8, 10}
c3 = {1, 2, 3}
c4 = {4, 5, 6}

In [117]:
# Union de conjuntos
print(c1|c2)
print(c1|c2|c3)

{1, 2, 3, 4, 5, 6, 8, 10}
{1, 2, 3, 4, 5, 6, 8, 10}

In [118]:
# Tambien puede hacerse la union con el metodo
print(c1.union(c2))

{1, 2, 3, 4, 5, 6, 8, 10}

In [119]:
# Intersección de conjuntos
print(c1&c2)
print(c1 & c2 & c3 & c4)

{2, 4, 6}
set()

In [120]:
# Tambien puede hacerse la intersección con el metodo
print(c1.intersection(c2,c3))

{2}

In [121]:
# Diferencia de conjuntos
print(c1-c2)

{1, 3, 5}

In [122]:
# Diferencia de conjuntos con el metodo
print(c1.difference(c2))

{1, 3, 5}

In [123]:
# Union exclusiva
print(c1^c2)

{1, 3, 5, 8, 10}

In [124]:
# Union exclusiva con el metodo
print(c1.symmetric_difference(c2))

{1, 3, 5, 8, 10}

In [2]:
x=4